body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#websiteTitle{
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 3em;
  justify-content: center;
  align-items: center;
}


#form{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2em;
  
}

#formParent{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#form *{
  font-size: 2em;
}

#searchArtist{
  width: 20em;
} 

#parentForArtists{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

#parentDivWithTitle{
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  height: 2em!important;
  width: 2em!important;
}

.ArtistImageAndName{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  width: auto;
}
.ArtistImageAndName h3{
  padding-left: 1em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

#StartingArtist{
  position: sticky;
}


#parentDivWithTitle h2{
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

#wrongNameError{
  display: none;
  color: red;
}

#buttonOptions{
  margin-top: 2em;
  margin-bottom: 10em;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;

}
.bottomButton{
  margin-top: 1em;
  font-size: 2em;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}


.buttonParent{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.dots{
  display: flex;
  justify-content: space-around;
}

#guessesUsed{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.parentWithArrow{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#arrow{
  padding: 0;
  margin: 0;
  font-size:3em;
  margin-top: -0.5em;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

button{
  cursor: pointer;
}

button:not(#submitGuess){
  border-radius: 1em;
  width: 5em;
}

button:not(#submitGuess):hover{
  transform: scale(1.1);
}


.hintPopup {
  display: none;

  font-size: 1.25em;
  width: 10em;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  bottom: 10%;

}
.hints{
  align-items: center;
}


/* #hintText{
  display: block;
} */



button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

input:disabled{
  cursor: not-allowed;
  pointer-events: all !important;
}


.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);


}

/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  background-color: #242424;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */


}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
}